rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /ho_tlc_2025/{doc} {
      allow create: if true;
      allow read: if true;
      allow update, delete: if false;
    }
  }
}
